
#playback_screen {
    height: 100%;
    right: 0;
    bottom: 0;
    position: fixed;
}

#network_canvas {
    height: 90%;
    width: 100%;
}

#top_graph {
  height: 50%;
}

#res_graph {
    height: 50%;
}

#alg_title {
    text-align: center;
    font-size: 24px;
}

#playback_control a:hover{
  color: white;/*rgb(107, 107, 107);
  /* background-color: white; */
}


#N_controls { 
  display: flex;
}

#N_controls p {
  font-family: sans-serif;
  text-align: center;
}

#N_picker { 
    width: 40px;
}

#pseudocode {
    height: 40%;
    background-color: #ededed;
}

#flow_counter {
    text-align: center;
    bottom: 0;
}

#speed_control {
    display: inline-flex;
    height: 40px;
}

.speed-control-icon {
    height: 40px;
    padding: 7px;
    padding-top: 14px;
}

.hare {
    background: url('../media/hare.png');
    height: 24px;
    width: 24px;
    display: block;
}

.turtle {
    background: url('../media/turtle.png');
    height: 24px;
    width: 24px;
    display: block; 
}