#network_canvas {
    width: 75%;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
    right:0;
  }
#main_graph {
  width: 100%;
  height: 50%;
  top: 0;

}
#residual_graph {
  width: 100%;
  height: 50%;
  bottom: 0;

}
#info_bar {
  width: 25%;
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  left:0;
  background-color: #f69278
}
.info_bar {
  width: 100%;
}
#alg_title {
/* width: 100%; */
  height: 10%;
  background-color: #e03c4c;
}
#playback {
  height: 15%;
  background-color: #f69278;
  align-items: center;
  display: flex;
}
.button{
  padding: 15px 32px;
  background-color: inherit;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  color:white;
  font-size: 16px;
}
#play_algorithm {
  color: white;
}
#pause_algorithm {
  color: white;
}
.speed_control {
  width: 90%;
  padding-bottom: 10px;
  display: flex;
}

#speed_info {
  width: 20%;
  height: 15px;
  padding: 10px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}
.slider {
  -webkit-appearance: none;
  height: inherit;
  appearance:none;
  width:75%;
  height: 15px;
  background: #c0d6ba;
  outline: none;
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #308c92;
}


#load_default_graph {
  width: 50%;
  color: black;
  left:0;
}
#generate_random_graph {
  background-color: #c0d6ba;
  color: black;
  width: 50%;
  right:0;
}
#new_graph {
  height: 10%;
  background-color: #f7d4a5;
  display: flex;
}

/* #gen_graph {
height: 100%;
width: 50%;
background-color: #f7d4a5;
}

#draw_graph {
height: 100%;
width: 50%;
background-color: #c0d6ba;
} */

#pseudocode {
  height: 50%;
  background-color: #308c92;
  text-decoration: none;
}
.pseudocode_step {
  height: 10%;
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
  padding: 20px;
}

#flow_counter {
  height: 10%;
  background-color: #c0d6ba;
}
